<html>

<head>
    <title>book</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/book.css')}}" />
</head>

<body>
    <div class="row">
        <div class="dash">
            <div class="profile">
                <img class="myprofile" src="{{url_for('static',filename='img/myAvatar.png')}}" />
                <h3>{{user}}</h3>
            </div>
            <div class="menu">
                <h3><a href="#" style="color:black;text-decoration: none;">Back</a></h3>
            </div>
        </div>
        <hr />
    </div>
    <div class="reserve">
        <div class="myform">
            <h3>reserve a space</h3>
            <h5>highlighted fields must be filled</h5>
            <form action="/reserve" method="post">
                <label for="name"><a>*</a>full names :</label>
                <input type="text" name="name" name="name" placeholder="Your full names.." required /><br />
                <label for="famsize">size of expected occupants:</label>
                <input type="number" name="famsize" id="famsize" placeholder="regular house occupants.." /><br />
                <label for="Phone"><a>*</a>phone number:</label>
                <input type="number" name="phone" placeholder="official phone number.." required /><br />
                <label for="email"><a>*</a>email:</label>
                <input type="text" name="email" id="email" placeholder="email.." required /><br />
                <label for="name"><a>*</a>expected movein date date:</label>
                <input type="date" name="moveindate" required /><br />
                <input type="submit" value="reserve" />
            </form>
        </div>
    </div>
</body>

</html>