<html>

<head>
    <title>book</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/book.css')}}" />
</head>

<body>
    <div class="row">
        <div class="dash">
            <div class="profile">
                <img class="myprofile" src="{{url_for('static',filename='img/myAvatar.png')}}" />
                <h3>{{user}}</h3>
            </div>
            <div class="menu">
                <h3><a href="#" onclick="history.back()" style="color:black;text-decoration: none;">Back</a></h3>
            </div>
        </div>
        <hr />
    </div>
    <div class="reserve">
        <div class="myform">
            <h3>reserve a space</h3>
            <h5>highlighted fields must be filled</h5>
            <form action="/reserve" method="post">
                <label for="name"><a>*</a>full names :</label>
                {{form.name}}<br>
                <label for="famsize">number of expected occupants:</label>
                {{form.occupants}}<br />
                <label for="Phone"><a>*</a>phone number:</label>
                {{form.phone}}<br />
                <label for="email"><a>*</a>email:</label>
                {{form.email}}<br />
                <label for="email"><a>*</a>passport:</label>
                {{form.passport}}<br />
                <label for="name"><a>*</a>expected movein date date:</label>
                {{form.date}}<br />
                <input type="submit" value="reserve" />
            </form>
        </div>
    </div>
</body>

</html>