<!DOCTYPE html>
<html lang="en">

<head>
  <title>dash</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>

<body>
  <!--topnav-->
  <div class="row">
    <div class="dash">
      <div class="identity">
        <h3>newto mathenge</h3>
      </div>
      <div class="menu">
        <h3>logout</h3>
      </div>
    </div>
    <hr>
  </div>
  <!--some dumb line-->
  <div class="title">
    <h3>Process your leaves here</h3>
  </div>
  <div class="back">
    <a href="#" onclick="back()">back</a>
  </div>
  <!--pannels-section-->
  <div class="row">
    <div class="content">

      <div class="row1">
        <h3> available leaves</h3>
        <ul>
          <li>Next available slot</li>
          <li>Next scheduled leave</li>
          <li>scheduled annual leave</li>
        </ul>
        <a href="dash.html">Open page</a>
      </div>

      <div class="row2">
        <h3>Request short urgent leave</h3>
        <ul>
          <li>Quickest available slot</li>
          <li>Available departmental cover</li>
        </ul>
        <a href="#">Open page</a>
      </div>
      <div class="row3">
        <h3>Request long leaves</h3>
        <ul>
          <li>Next available slot</li>
          <li>Sheduled department cover</li>
          <li>Most recent long leave</li>
        </ul>
        <a href="#">Open page</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <div class="row1">
        <h3>Accept cover request</h3>
        <ul>
          <li>Confirm availability</li>
          <li>Reshedule next leave</li>
          <li>rearrange leave structure</li>
        </ul>
        <a href="#">Open page</a>
      </div>
      <div class="row2">
        <h3>eNQUIRE ABOUT </h3>
        <ul>
          <li>Next available slot</li>
          <li>Next scheduled leave</li>
          <li>scheduled annual leave</li>
        </ul>
        <a href="#">Open page</a>
      </div>
      <!-- <div class="row3">
        <p>
          pannel three
        </p>
      </div> -->
    </div>
  </div>
  <!--footer-->
  <div class="row">
    <div class="footer">
      <div class="copyright">
        <p>&copy; 2020 copyright<p>
      </div>
    </div>
  </div>
</body>

</html>